[submodule "submodules"]
	path = submodules
	url = https://github.com/LarsWerkman/HoloColorPicker.git
[submodule "HoloColorPicker"]
	path = HoloColorPicker
	url = https://github.com/LarsWerkman/HoloColorPicker.git
